src/main/resources/TouristVaucher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="touristsVouchers" type="touristsVouchersType"/>

  <xs:element name="id">
    <xs:simpleType>
      <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="dayAndNightAmount">
    <xs:simpleType>
      <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
  </xs:element>

  <xs:complexType name="voucherType">
    <xs:sequence>
      <xs:element ref="id" />
      <xs:element type="xs:string" name="typeOfVoucher"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element type="xs:string" name="daysAndNightsCount" minOccurs="0"/>
      <xs:element type="xs:string" name="transport"/>
      <xs:element type="xs:string" name="hotelHaracteristics"/>
      <xs:element type="xs:string" name="cost"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="touristsVouchersType">
    <xs:sequence>
      <xs:element type="voucherType" name="voucher"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>